Repository hmcts/enforcement-api, pull requests merged in 2025-05, with the labels that each got.

#56 HDPI-750 - Switching to Azure DevOps Artefacts
  build.gradle
Labels: ns:enforcement, prd:enforcement, rel:enforcement-api-pr-56

#57 Small fix to the routing of openAPI publisher tests to fix github actions
  .github/workflows/publish-openapi.yaml
Labels: ns:enforcement, prd:enforcement, rel:enforcement-api-pr-57

#45 HDPI-632 initial effort to setup CCD locally for enforcement api
  README.md
  build.gradle
  charts/enforcement-api/Chart.yaml
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/enforcement/CftlibConfig.java
  src/cftlibTest/java/uk/gov/hmcts/reform/enforcement/TestWithCCD.java
  src/main/java/uk/gov/hmcts/reform/enforcement/Application.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/domain/DefaultStateAccess.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/domain/EnforcementCase.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/domain/Party.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/domain/State.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/domain/UserRole.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/event/CreateTestCase.java
  src/main/java/uk/gov/hmcts/reform/enforcement/config/JacksonConfiguration.java
  src/main/resources/application.yaml
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, rel:enforcement-api-pr-45

#58 Small fix to remove the use of JitPack as that is now deprecated by platform
  settings.gradle
Labels: ns:enforcement, prd:enforcement, rel:enforcement-api-pr-58

#54 HDPI-633: Enforcement Generate CCD Config
  Jenkinsfile_CNP
  bin/create-xlsx.sh
  build.gradle
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, rel:enforcement-api-pr-54

#51 Hdpi 635 add helm charts to create ccd per pr in preview
  .env
  Jenkinsfile_CNP
  build.gradle
  charts/enforcement-api/Chart.yaml
  charts/enforcement-api/values.ccd.preview.template.yaml
  charts/enforcement-api/values.yaml
  docker-compose.yml
  src/main/resources/application.yaml
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, pr-values:ccd, rel:enforcement-api-pr-51

#73 Adding the postgres db value, and also the db port value
  infrastructure/database.tf
Labels: ns:enforcement, prd:enforcement, aat/add-or-update, rel:enforcement-api-pr-73

#65 HDPI-636 Upload Enforcement CCD definition to preview X-UI
  Jenkinsfile_CNP
  bin/create-xlsx.sh
  build.gradle
  charts/enforcement-api/values.ccd.preview.template.yaml
  src/cftlib/java/uk/gov/hmcts/reform/enforcement/CftlibConfig.java
  src/cftlibTest/java/uk/gov/hmcts/reform/enforcement/TestWithCCD.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/CaseType.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/config/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/enforcement/ccd/event/CreateTestCase.java
  src/main/resources/application-config-gen.yaml
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, aat/no-changes, pr-values:ccd, rel:enforcement-api-pr-65

#81 HDPI-806 - Fix errors with enforcement-api builds
  .env
  Jenkinsfile_CNP
  build.gradle
  charts/enforcement-api/Chart.yaml
  charts/enforcement-api/values.preview.template.yaml
  charts/enforcement-api/values.yaml
  src/cftlibTest/java/uk/gov/hmcts/reform/enforcement/TestWithCCD.java
  src/contractTest/java/uk/gov/hmcts/reform/enforcement/contract/DisableFlywayConfig.java
  src/contractTest/java/uk/gov/hmcts/reform/enforcement/contract/ServiceAuthorisationConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/enforcement/config/AbstractPostgresContainerIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/enforcement/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/enforcement/openapi/OpenAPIPublisherTest.java
  src/integrationTest/resources/application-integration.yaml
  src/main/java/uk/gov/hmcts/reform/enforcement/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/reform/enforcement/config/FlywayProperties.java
  src/main/java/uk/gov/hmcts/reform/enforcement/data/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/reform/enforcement/exception/PendingMigrationScriptException.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/enforcement/smoke/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/enforcement/config/OpenAPIConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/enforcement/data/migration/FlywayNoOpStrategyTest.java
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, aat/no-changes, rel:enforcement-api-pr-81

#86 HDPI 806 - removed references to E2E tests as these are not implemented in enfor…
  Jenkinsfile_CNP
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, rel:enforcement-api-pr-86

#80 HDPI-804 removing SpringBootTest from contract tests
  src/contractTest/java/uk/gov/hmcts/reform/enforcement/contract/ServiceAuthorisationConsumerTest.java
Labels: ns:enforcement, prd:enforcement, rel:enforcement-api-pr-80
