Repository hmcts/enforcement-api, pull requests merged in 2025-04, with the labels that each got.

#25 HDPI-179 removing duplicated test
  src/functionalTest/java/uk/gov/hmcts/reform/enforcement/functional/tests/SampleFunctionalTest.java
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, rel:enforcement-api-pr-25

#19 HDPI-219 - Spinning up Enforcement DB on PR
  build.gradle
  charts/enforcement-api/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, rel:enforcement-api-pr-19

#26 Updating the database credentials with AAT
  charts/enforcement-api/Chart.yaml
  charts/enforcement-api/values.yaml
Labels: ns:enforcement, prd:enforcement, rel:enforcement-api-pr-26

#24 implemented notifications for enforcement api
  build.gradle
  charts/enforcement-api/Chart.yaml
  charts/enforcement-api/values.preview.template.yaml
  charts/enforcement-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/enforcement/config/NotificationsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/enforcement/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/enforcement/notify/endpoint/NotifyController.java
  src/main/java/uk/gov/hmcts/reform/enforcement/notify/exception/NotificationException.java
  src/main/java/uk/gov/hmcts/reform/enforcement/notify/model/EmailNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/enforcement/notify/service/NotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/enforcement/notify/endpoint/NotificationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/enforcement/notify/service/NotificationServiceTest.java
Labels: enhancement, enable_keep_helm, ns:enforcement, prd:enforcement, rel:enforcement-api-pr-24

#33 HDPI-596 adding PACT dependencies and s2s consumer tests
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/enforcement/contract/ServiceAuthorisationConsumerTest.java
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, rel:enforcement-api-pr-33

#30 HDPI-584 - Create testing support package
  charts/enforcement-api/values.aat.template.yaml
  charts/enforcement-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/enforcement/testingsupport/endpoint/TestingSupportController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/enforcement/testingsupport/endpoint/TestingSupportControllerTest.java
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, aat/no-changes, rel:enforcement-api-pr-30

#40 HDPI-615 upgrade serenity to 4.2.19 to alleviate CVEs #1
  build.gradle
  config/owasp/suppressions.xml
Labels: enable_keep_helm, ns:enforcement, prd:enforcement, rel:enforcement-api-pr-40

#44 HDPI-602 - Updating build.gradle to remove deprecations
  build.gradle
Labels: ns:enforcement, prd:enforcement, rel:enforcement-api-pr-44
